.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}
::ng-deep {
  .draw-polygon {
    background: rgb(93, 167, 227);
    border-radius: 9px;
    border: none;
    padding: .5rem;
    color: white;
  }
  .draw-active {
    background: orchid !important;
  }
}
